<div class="container">
  <!-- {{diagnostic}} -->
  <div class="row">
    <div class="col-md-4">
      <h1>Call Scorecard</h1>
    </div>
    <div class="col-md-8">
    <div class="alert alert-success" [@notification]="success">
      Scorecard sent successfully.
    </div>
    <div class="alert alert-danger" [@notification]="error">
      There was an error submitting the scorecard. Please check over the form and
      try again.
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="reviewer">Reviewer</label>
    <select class="form-control" id="reviewer" [(ngModel)]="scorecard.reviewer">
      <option *ngFor="let reviewer of reviewers" [value]="reviewer">
        {{reviewer}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="reviewee">Reviewee</label>
    <select class="form-control" id="reviewee" [(ngModel)]="scorecard.reviewee">
      <option *ngFor="let reviewee of reviewees" [value]="reviewee">
        {{reviewee}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="call-file">Call File</label>
    <input type="file" (change)="callFileChange($event)" #fileInput>
  </div>
  <div *ngFor="let section of scorecard.sections" class="panel panel-default">
    <div class="panel-heading">{{section.name}}</div>
    <div class="panel-body">
      <div class="form-group row" *ngFor="let criteria of section.criteria">
        <div class="col-md-2">
          <button class="btn btn-sm"
          *ngIf="!criteria.notApplicable" (click)="toggleCriteriaValue(criteria)"
          [class.btn-default]="!criteria.value"
          [class.btn-primary]="criteria.value">
            <span class="glyphicon"
            [class.glyphicon-remove]="!criteria.value"
            [class.glyphicon-ok]="criteria.value"
            ></span>
          </button>
          <button class="btn btn-sm"
          [class.btn-default]="!criteria.notApplicable"
          [class.btn-primary]="criteria.notApplicable"
          *ngIf="criteria.optional" (click)="notApplicable(criteria)">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>
        <div class="col-md-10">
          <span *ngIf="!criteria.notApplicable">{{criteria.description}}</span>
          <s *ngIf="criteria.notApplicable">{{criteria.description}}</s>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default btn-primary btn-lg center-block"
  style="margin-bottom:20px;"
  (click)="submit()">
    Submit
  </button>
</div>
